/*
* Dark blue
*/

/*  --------------------------- Body ---------------------------*/
body, .bgBody {
	margin-top:	    0px;
	margin-left:    8px;
	margin-right:   8px;
	margin-bottom:  0px;
	padding:        0px;
	border:         0px;
	font-family:    Liberation sans, Arial, Sans-serif;
	font-size:	    9pt;
	background: 	white;
}
body.main {
	background-color: #f5f5f5;
	text-align: center;
}

.bodyPrint {
	margin: 5px;
	color:	black;
}

.bodyImage {
	margin:     0px;
	background: #F0F8FF;
	overflow:   hidden;
}

/*  ---------------------- Global layout -----------------------*/

/* Top-most table on the layout */
.topTable {
	width:  940px;
}

.topContainer {
	margin: 16px auto;
	width: 960px;
}

.topContainer>tr>td, .topContainer>tbody>tr>td {
	border: 1px solid #dedede;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.topContainerBorder {
	border: 1px solid #c4c4c4;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 9px 9px 12px 9px;
	background: white;
	min-height: 600px;
	overflow: auto;
}
.topBanner {
	background: white url(top_background.jpg) no-repeat;
	height: 129px;
	margin-bottom: 10px;
	position: relative;
}
.topBannerText {
	font-size:   10pt;
	font-weight: bold;
	color: white;
	position: absolute;
	bottom: 8px;
	left: 10px;
}
.minHeight {
	height: 500px;
}

.standaloneContents {
	width: 			716px;
	margin-left: 	auto;
	margin-right: 	auto;
}

/* System header bar */
.headerBar {
	border:  0px;
	margin:  0px;
}

/* Bar that shows the logged user */
.loginDataBar {
	background:				-moz-linear-gradient(center top, #FFFFFF, #FFFFFF 50%, #EDEDED 100%);
	background:				-webkit-gradient(linear, center top, center bottom, color-stop(0%, #FFFFFF), color-stop(50%, #FFFFFF), color-stop(100%, #EDEDED));
	border:					1px solid #CCCCCC;
	overflow:				hidden;
	padding-right:			7px;
	padding-top:			3px;
	padding-bottom:			3px;
	line-height:			12px;
	text-align:				right;
	background-color:		#F7F7F7;
	-moz-border-radius: 	4px;
	-webkit-border-radius:	4px;
	border-radius: 			4px;
}

/* Span that shows data on the logged user bar */
.loginData {
	font-weight:	bold;
	font-size:		8pt;
	color:			#0067A3;
	font-family:    Liberation sans, Arial, Sans-serif;
	padding-left:	5px;
}

/* Even rows on result lists */
.ClassColor1 {
	background-color: #ffffff;
}

/* Odd rows on result lists */
.ClassColor2 {
	background-color: #F1F7FE;
}

/* Rows when the mouse is over it */
.ClassColorSelected {
	background-color: #e5f0fe;
	text-decoration: none;
}

.tdHeaderContents, .ClassColor1>td, .ClassColor2>td, .ClassColorSelected>td {
	padding:    	4px 3px !important;
	line-height: 	19px !important;
}

/* Messages that appear next to fields (like date format) */
.fieldDecoration {
	color: red !important;
}

/* Messages that appear at the bottom of the page */
.footerNote {
	font-weight: bold;
	text-align:  center;
	width:       100%;
	color:       navy;
}

/* Pagination text for search results */
.pagination {
}

/* Pagination links */
.paginationLink {
	font-weight: bold;
}

/* Current page in pagination */
.currentPage {
	font-weight: bold;
	color: red;
}

/* Contents on print windows */
.printContent {
	background-color: white;
	border: none;
}

/* Title on print pages */
.printTitle {
	color:       black;
	font-weight: bold;
	font-size:   10pt;
	text-align:  center;
}

/* Labels on print page */
.printLabel {
	color:       black;
	font-weight: bold;
	font-size:   9pt;
	font-style:  italic;
	text-align:  right;
	vertical-align: top;
}

/* Column headers */
th.printLabel {
	text-align: center !important;
}

/* Data on print page */
.printData {
	color: black;
	vertical-align: top;
}

/* Elements with border */
.printBorder, .printBorder th, .printBorder td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1px 2px;
}

/*  -------------------------- Help ----------------------------*/

.helpWindowBody {
	margin:     0px;
	cursor:     default;
	background: #f9f9f9;
}

.helpWindowTable {
	border:     0px;
	width:      100%;
	height:     100%;
	background: #f9f9f9;
}

.helpWindowTableContent {
	color:       navy;
}

br.small {
	font-size: 6px;
}

/*  ------------------------ Tables ----------------------------*/

.defaultTable, .defaultTableCenter {
	border:          0px;
	border-spacing:  0px;
	border-collapse: collapse;
	padding:         0px;
	width:	    	 100%;
	empty-cells:     show;
}

.standAloneFixedWidth {
	width:	    	 716px !important;
}

.bordered {
	border-bottom:		1px solid #CCCCCC;
	border-spacing:		0px;
	border-collapse:	collapse;
}

.fullBordered {
	border:				1px solid #CCCCCC;
}

.defaultTableCenter {
	text-align: center;
	vertical-align: middle;
}

.defaultTableContent, .defaultTableContentHidden {
	width:					716px;
	_width:					714px;
	padding:				0px;
	margin:					10px 0px 4px;
	border-spacing:			0px;
	float:					left;
}

.defaultTableContent {
	border:					1px solid #8989d0;
	border-radius:			4px 4px 4px 4px;
	-moz-border-radius:		4px 4px 4px 4px;
	-webkit-border-radius:	4px 4px 4px 4px;
	box-shadow:				1px 3px 5px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:		1px 3px 5px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:		1px 3px 5px 1px rgba(0, 0, 0, 0.25);
}

.standaloneContents .defaultTableContent, .standaloneContents .defaultTableContentHidden {
	width: 100%;
}

table.nested, table.nested.td, table.nested.th {
	margin:          0px;
	padding:         0px;
	border-collapse: collapse;
	border-spacing:  0px;
}

form {
	display: inline;
	margin:  0px;
}

td, pre, legend {
	font-family:    Liberation sans, Arial, Sans-serif;
	font-size:		9pt;
	color: 			navy;
}

pre {
	display:inline;
}


.tdHeaderTable {
	background-color:		#475691;
	border-bottom: 			1px solid white;
	border-radius:			3px 0px 0px 0px;
	-moz-border-radius:		3px 0px 0px 0px;
	-webkit-border-radius:	3px 0px 0px 0px;
/*	text-shadow: 			1px 1px 1px #FFFFFF; */
	color:					#FFFFFF;
	padding-left:			10px;
	padding-top:			7px;
	padding-bottom:			7px;
    vertical-align: 		top;
	font-size:				10pt;
	font-weight:			bold;
	text-align:				left;
}

.tdHelpIcon {
	background-color:		#475691;
	border-bottom:			1px solid white;
	border-radius:			0px 3px 0px 0px;
	-moz-border-radius:		0px 3px 0px 0px;
	-webkit-border-radius:	0px 3px 0px 0px;
	padding-right:			4px;
	padding-top: 			0px;
    vertical-align: 		middle;
}

.ie .tdHelpIcon, .ie .tdHeaderTable {
      border-top: none;
}

.tdHelpIcon img {
	margin-left: 3px;
}

.innerBorder {
}

.bottomLeft {
	height: 6px;
}

.bottomRight {
	height: 6px;
}

.tdHeaderContents {
	background-color:	#F5F5F5;
	color:				navy;
	text-align:			center;
	border:				1px solid #FFFFFF;
	font-weight:		bold;
	font-size: 			9pt;
}

.tdContentTable {
	padding: 8px;
}

.tdContentTableForms {
	padding: 5px;
}

.tdContentTableLists {
	padding: 1px;
}

.tdContentTableLists table {
	border-spacing: 1px;
}

.tdContentTableForms table {
	border-spacing: 3px;
}

.tdContentTableLists table td, .tdContentTableLists table th {
	padding: 3px 4px;
	line-height: 18px;
}

.tdContentTableForms table td, .tdContentTableForms table th {
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 3px;
}

.tdContents {
	background:		transparent;
	padding:		0px;
	padding-left:	14px;
	border:			none;
	float:			left;
	text-align:		left;
	width: 			716px;
	color: 			navy;
}

.tdContentsStandalone {
	text-align: 	left;
	padding-left: 	0px;
	width: 			100%;
}

.tdContentsCenter {
	background:	    #FFFFFF;
	text-align:     center;
	vertical-align: middle;
}

.loadingMessage {
	border:				#d15113 1px solid;
	background-color: 	#FFF4E6;
	color: 	        	navy;
	font-family:    	Liberation sans, Arial, Sans-serif;
	font-size:      	9pt;
	text-align:     	center;
	padding:			0px 8px;
	line-height:        20px;
}

.tablePrint {
	width:	    	 100%;
	border:          1px solid #808080;
	border-spacing:  0px;
	border-collapse: collapse;
}

.tdPrintHeader {
	color:			 black;
	font-weight:     bold;
	text-align:      center;
	vertical-align:  middle;
	border:          1px solid #808080;
	border-spacing:  0px;
	border-collapse: collapse;
}

.tdPrintData {
	color:			 black;
	text-align:      left;
	vertical-align:  middle;
	border:          1px solid #808080;
	border-spacing:  0px;
	border-collapse: collapse;
}

.tdPrintDataBold {
	color:			 black;
	font-weight:     bold;
	text-align:      left;
	vertical-align:  middle;
	border:          1px solid #808080;
	border-spacing:  0px;
	border-collapse: collapse;
}

/*  -------------------------- Menus ---------------------------*/

.menuHolder {
	border:			0px;
	padding:		0px;
	vertical-align:	top;
	width:			210px !important;
	float:          left;
	margin-top:		10px;
}

/* move to top the same margin as .menu uses on to, so the first item won't be shifted */
.menuContainer {
	width:					210px;
	border:					1px solid #8989d0;
	border-radius:			4px 4px 4px 4px;
	-moz-border-radius:		4px 4px 4px 4px;
	-webkit-border-radius:	4px 4px 4px 4px;
	box-shadow:				1px 3px 5px 1px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:		1px 3px 5px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:		1px 3px 5px 1px rgba(0, 0, 0, 0.25);
	padding: 0;
	text-align: left;
	margin: 0px;
}

.menu, .menuHover {
	width:				210px !important;
	background-color:	#475691;
	border-bottom: 		1px solid white;
	margin: 			0px;
	padding:  			0px;
	overflow: 			hidden;
	list-style: 		none;
}

.firstMenu, .firstMenuHover {
	*margin-bottom: -3px;
}

.menuText {
	padding-top: 	7px;
	padding-bottom:	2px;
	padding-left:	10px;
	font-family:    Liberation sans, Arial, Sans-serif;
	color: 			#FFFFFF;
	font-size: 		10pt;
	font-weight:	bold;
	display:		block;
	height:			20px;
}

.menuBullet {
	display:		none;
}

.subMenu, .subMenuHover {
	background-color: 		white;
	background-image: 		url('block.png');
	background-position: 	9px 4px;
	background-repeat: 		no-repeat;
	border:					none;
	list-style: 		none;
	width: 				210px;
	padding: 1px 0;
}

.subMenuText {
	font-family:    Liberation sans, Arial, Sans-serif;
	color: 			navy;
	font-size:		10pt;
	margin-left:	5px;
	padding-top:	1px;
	padding-bottom:	1px;
	width: 			180px;
	display:		inline-block;
}

.subMenuBullet {
	height:				3px;
	width:				3px;
	background-color:	#0075AD;
	margin:				9px 1px 3px 11px;
	font-size:          1px;
	display:			inline-block;
	vertical-align:		top;
}

.menuHover .menuText, .firstMenuHover .menuText, .lastMenuHover .menuText {
	background-color:	#5387D4;
}

.subMenuHover .subMenuText {
	text-decoration: underline;
}

.firstMenu, .firstMenuHover {
	border-radius:			3px 3px 0px 0px;
	-moz-border-radius:		3px 3px 0px 0px;
	-webkit-border-radius:	3px 3px 0px 0px;
}

.lastMenu, .lastMenuHover {
	border-bottom: none;
	border-radius:			0px 0px 3px 3px;
	-moz-border-radius:		0px 0px 3px 3px;
	-webkit-border-radius:	0px 0px 3px 3px;
}

.subMenuContainer {
	margin: 0px;
	padding: 0px;
	border-top: 1px solid white;
}

.firstSubMenu {
	padding-top: 6px;
}

.lastSubMenu {
	padding-bottom: 6px;
}

/*  -------------------------- Links ---------------------------*/

a {
	text-decoration: none;
	color:	    	 blue;
}

a.default {
	text-decoration: underline !important;
	color:	    	 blue !important;
}

a.linkList, a.profileLink, a.adminProfileLink, a.operatorProfileLink {
	color: blue;
}

a.linkList:hover, a.profileLink:hover, a.adminProfileLink:hover, a.operatorProfileLink:hover {
	color: red;
}


/*  ----------------------- Form fields ------------------------*/

/* Buttons */
button, .button, .linkButton, .ButtonDisabled {

	background:				-moz-linear-gradient(center top, #faf4e2 0%, #FDCE7E 100%);
	background:             -webkit-linear-gradient(top,  #faf4e2 0%,#FDCE7E 100%);
	background:				-webkit-gradient(linear, center top, center bottom, color-stop(0%, #faf4e2), color-stop(100%, #FDCE7E));
	background-color:		#fcdca6;
	border:					1px solid #EC9A38;
	border-radius:			4px 4px 4px 4px;
	-moz-border-radius:		4px 4px 4px 4px;
	-webkit-border-radius:	4px 4px 4px 4px;
	text-shadow: 			1px 1px 2px #faf4e2;
	color:					#414141;
	font-family:    		Liberation sans, Arial, Sans-serif;
	font-size:				9pt;
	font-weight:			normal;
	cursor:					pointer;
	padding: 				5px 10px;
}

.ieold button, .ieold .button, .ieold .linkButton, .ieold .ButtonDisabled {
  padding: 1px 0px !important;
}

.ie button, .ie .button, .ie .linkButton, .ie .ButtonDisabled {
  padding: 4px 8px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAF4E2', endColorstr='#FDCE7E'); /* IE gradients */
  background-color: transparent;
}

/* Disabled buttons */
.ButtonDisabled {
	background:				-moz-linear-gradient(center top, #FFFFFF, #DDDDDD 100%);
	background:				-webkit-gradient(linear, center top, center bottom, color-stop(0%, #FFFFFF), color-stop(100%, #DDDDDD));
	background-color:		#e9eef4;
	color:					#888888;
	border-color:			#cccccc;
}

button:hover, .button:hover, .linkButton:hover {
	color:			#ff4800;
	border:			1px solid #ff5b1a;
}

/* General inputs */
input, textarea, select, .radio, .printButton {
	border: 		#CCCCCC 1px solid;
	color: 			navy;
	font-family:    Liberation sans, Arial, Sans-serif;
	font-size: 		9pt;
	font-weight:    normal;
	margin: 		0px;
}

input, textarea, select, .radio, .checkbox, option {
  background-color: white;
}

/* Hide mozilla inner button, when you click on virtual keyboard buttons it won't select the text*/
input::-moz-focus-inner {
	border: none;
}

/* Select boxes */
select {
	height: 22px;
	background-color:white;
	vertical-align: top;
}

option {
	padding: 3px 6px 2px 2px;
}

/* Radios and checkboxes */
.radio, .checkbox {
	border: 1px solid #1e5180;
}

/* Enabled input boxes */
.InputBoxEnabled {
	background-color:	#FFFFFF;
	color:				navy;
}

/* Disabled input boxes */
.InputBoxDisabled {
	background-color:	#F5F5F5;
	color: 				navy;
}

/* Field sizes */
input.tiny, textarea.tiny, select.tiny {
	width: 118px;
}
input.small, textarea.small, select.small {
	width: 168px;
}
input.medium, textarea.medium, select.medium {
	width: 218px;
}
input.large, textarea.large, select.large {
	width: 368px;
}
input.full, textarea.full, select.full {
	width: 98%;
}

/* Text fields padding */
input.tiny, textarea.tiny, input.small, textarea.small, input.medium, textarea.medium, input.large, textarea.large, input.full, textarea.full {
	padding: 3px 2px;
}

input {
	padding: 3px 2px;
}

/* A div that looks like a field */
div.fakeField, div.fakeFieldDisabled {
	background-color:	#FFFFFF;
	border:				#CCCCCC 1px solid;
	color:				navy;
	font-family:    	Liberation sans, Arial, Sans-serif;
	font-size:			9pt;
	font-weight:		normal;
	padding-left:		2px;
	padding-right:		2px;
	vertical-align:		top;
	white-space:        normal;
}

/* A disabled div that looks like a field */
div.fakeFieldDisabled {
	background-color: #F5F5F5 !important;
}

/* Multi drop down definitions */
.multiDropDownText {
	color: 	     navy;
	font-family: Liberation sans, Arial, Sans-serif;
	font-size: 	 9pt;
}

.multiDropDownLabel {
	padding: 2px 4px 2px 0px !important;
}

.multiDropDown {
	border: 	 1px solid #CCCCCC;
	background:  white;
	text-align: left;
}

.multiDropDownOption {
	padding: 2px 2px 0px;
}

.multiDropDownDisabled {
	border: 	 1px solid #CCCCCC;
	background:  #F5F5F5;
}

.multiDropDownHover {
	background:	#e5f0fe;
}

/* Virtual keyboard definitions */
.virtualKeyboardButton {
	background:					-moz-linear-gradient(center top, #dce6f4 0%, #fcfefc 25%, #c4d6ec 100%);
	background:					-webkit-gradient(linear, center top, center bottom, color-stop(0%, #dce6f4), color-stop(25%, #fcfefc), color-stop(100%, #c4d6ec));
	background-color:			#dce6f4;
	border:						1px solid #9CB3D8;
	border-radius:				3px 3px 3px 3px;
	-moz-border-radius:			3px 3px 3px 3px;
	-webkit-border-radius:		3px 3px 3px 3px;
	text-shadow: 				1px 1px 2px #faf4e2;
	color: 	    				navy;
	padding:					4px 4px 4px 4px;
 	width:			            28px;
   	margin:         		   	1px;
   	cursor:            		   	pointer;
}

.ie .virtualKeyboardButton {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dce6f4', endColorstr='#fcfefc'); /* IE gradients */
  	background-color: transparent;

}

.virtualKeyboardButtonHover {
	background-color:			#f4faff;
	background:					-moz-linear-gradient(center top, #f4faff 0%, #ffffff 25%, #e1f3ff 100%);
	background:					-webkit-gradient(linear, center top, center bottom, color-stop(0%, #f4faff), color-stop(25%, #ffffff), color-stop(100%, #e1f3ff));
}

.ie .virtualKeyboardButtonHover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4faff', endColorstr='#ffffff'); /* IE gradients */
  	background-color: transparent;
}

.virtualKeyboardContrastVeryLow {
	color: #aac3db;
}

.virtualKeyboardContrastLow {
	color: #90a5ba;
}

.virtualKeyboardContrastNormal {
	color: #798b9c;
}

.virtualKeyboardContrastHigh {
	color: #606e7b;
}

.virtualKeyboardContrastVeryHigh {
	color: navy;
}

/* Fieldsets */
fieldset {
	border:	1px solid #6C90B1;
	margin:	5px 2px;
}

/* Fieldset legends */
legend {
	font-weight: bold;
	margin-left: 10px;
}

/* Labels on forms */
.label {
	text-align:     right;
	font-weight:    bold;
}

td.label {
    padding-right:  4px !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    vertical-align: top;
}

span.label, span.lastLabel, span.inlineLabel {
	font-weight: 	bold;
	display: 		inline-block;
}

span.label, span.lastLabel {
	padding-top: 	3px !important;
}

span.label, span.inlineLabel {
	padding-right:	4px !important;
}

/* Labels that looks like headers */
.headerLabel {
	border: 			1px solid #FFFFFF;
	background-color: 	#F5F5F5;
	color: 				navy;
	text-align:         right;
	font-weight:        bold;
    padding:            5px 5px 6px !important;
}
@-moz-document url-prefix() {
    .headerLabel {
        padding:            6px 5px 5px !important;
    }
}
.headerField {
	padding-left: 5px !important;
}

/* Decorated labels on forms */
.decoratedLabel {
	color:         red;
	text-align:    right;
	font-weight:   bold;
	padding-right: 5px;
}

/* TDs that should be class label but have nested label spans */
.nestedLabel {
	text-align:    right;
	padding-right: 0px;
}

/* Buttons on print pages */
.printButton {
	border:     black 1px solid;
	color:      black;
	background: #dddddd;
}

/* Horizontal rules */
hr {
	height:           0px;
	border:           none;
	border-top:       1px solid #6C90B1;
}

hr.print {
	height:           0px;
	border:           none;
	border-top:       1px solid black;
}

/* Image scroller (on profile or ad details) definitions */
.imageContainer {
	border:     1px solid #CCCCCC;
	text-align: center;
}

.thumbnail {
	margin: 1px;
}

.imageOnly {
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
}

.imageContainer a {
	color: navy;
	text-decoration: none;
}

.imageContainer a:hover {
	color: red;
}

.imageIndex {
}

.imageRemove, .imageControls, .imageSetCaption, .imageDetails {
	border-top: 1px solid #CCCCCC;
}

/* Image view popup definitions */
.popupThumbnailContainer {
	padding-top:    10px;
	padding-bottom: 10px;
	padding-left:   20px;
	padding-right:  0px;
	height:         80px;
	width:          100%;
	border-bottom:  1px solid #CCCCCC;
	overflow:       auto;
	overflow-y:     hidden;
	text-align:     left;
	white-space:    nowrap;
}

.popupThumbnail {
	vertical-align: middle;
	margin-right:   20px;
}

.popupImageContainer {
	text-align:     center;
	padding:        20px;
	padding-bottom: 0px;
}

/* Autocompletion divs */
.autoComplete {
	position:         absolute;
	background-color: white;
	border: 	      1px solid #CCCCCC;
	margin:           0px;
	padding:          0px;
	cursor:           default;
	font-weight:      normal;
	z-index: 		  1;
}

.autoComplete ul {
	list-style-type: none;
	margin:          0px;
	padding:         0px;
	overflow:        auto;
	overflow-x:      hidden;
}

.autoComplete ul li {
	background:  white;
	color:       navy;
	white-space: nowrap;
	text-align:  left;
	padding:     2px;
}

.autoComplete ul li.selected {
	background:	     navy;
	color:           white;
}

.draggableList {
	list-style-type:  none;
	margin:           0px;
	padding:          0px;
	background-color: #F0F8FF;
	border:           1px solid #CCCCCC;
	padding-top:      10px;
}

.draggableList li {
	margin-bottom:   10px;
	cursor: move;
}

/*  ---------------- Page specific definitions -----------------*/

/* Account history */

.ClassColorCredit {
	color: blue !important;
}

.ClassColorCredit a {
	color: blue !important;
}

.ClassColorDebit {
	color: red !important;
}

.ClassColorDebit a {
	color: red !important;
}


/* Ad search */

.productTitle, .productTitle a {
	font-weight: bold;
	color: red;
	text-decoration: underline;
}

.productOwner {
	font-weight: bold;
	font-style: italic;
}

.productOwner a {
	color:           blue;
	text-decoration: underline;
}

.productDescription {
}

ul.categoryLevel0 {
	list-style-type: none;
	margin-bottom: 10px;
	padding-left: 20px;
	margin-left: 0px;
}

ul.categoryLevel1 {
	list-style-type: square;
	padding-left: 15px;
	margin-bottom: 5px;
	margin-left: 0px;
}

ul.categoryLevel2 {
	list-style-type: disc;
	padding-left: 15px;
	margin-left: 0px;
}

li.categoryLevel1 {
	font-weight: bold;
	padding-left: 0px;
	color: #658dcf;
}

li.categoryLevel2 {
	font-weight: normal;
	padding-left: 0px;
	color: #658dcf;
}

li.categoryLevel3 {
	font-weight: normal;
	padding-left: 0px;
	color: #658dcf;
}

span.categoryLevel1Text, span.categoryLevel2Text, span.categoryLevel3Text {
	color: navy;
}

span.categoryLevel1TextHover, span.categoryLevel2TextHover, span.categoryLevel3TextHover {
	color: blue;
	text-decoration: underline;
}

span.categoryCountText{
	color: #658dcf;
}

/* Customized files list */
.conflict {
	color: red;
}

/* Messages */
.unreadMessage {
	font-weight: bold;
}

.readMessage {
}

.removedMessage {
	font-style: italic;
}

.repliedMessage {
}

div.manualPage h1 {
	font-size: 14pt;
}

div.manualPage h2 {
	font-size: 12pt;
}

div.manualPage h3 {
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}

div.manualPage a {
	text-decoration: underline;
	color: blue;
}

a.manualLink {
	color: navy;
}

a.manualLink:hover {
	color: blue;
	text-decoration: underline;
}

.alertNotification {
	width: 		400px;
	border: 	2px solid red;
	padding: 	10px;
	color: 		red;
	font-size: 	11pt;
}

img.quickAccessIcon {
	border: none;
	display: block;
	margin-bottom: 5px;
}

.quickAccessLink {
    background-color: white;
    display: inline-block;
    padding: 2px;
    border: 1px solid white;
    border-radius: 4px;
    -moz-border-radius:	4px;
	-webkit-border-radius: 4px;
    width: 95%;
}

.quickAccessLink:hover {
	background-color: #EBF2FA;
	border: 1px solid #B0B0B0;
}

@media print {

	.printButton {
		display:none;
	}
}